
<div class="navbar navbar-expand-lg top row navbar-fixed-top">
    <a class="title navbar-brand " style="font-size: 190%; color: white"><b>Fat.to.Fit</b></a>
   
    <div class="">
        
      <a class="nav-link option" (click) = "homeClicked()">Home</a>
   
      
      <a class="nav-link option" (click) = "clientsClicked()">Clients</a>
  
  
        <a class="nav-link option" (click) = "notificationsClicked()">Notifications
        </a>
    
  
        <a class="nav-link option" (click)= "logoutBtnClicked()">Log out</a>
    
    </div>
  </div>
  