.welcome{

    overflow: hidden;
    text-align: center;
    margin-bottom: 0;

}

/* .ui-table table{

    table-layout: auto !important;
    overflow: hidden;
}

.ui-table .ui-table-thead{

    overflow: hidden;
} */